title css_mid
.nav_area
  a.button(href="https://ding0327.github.io/namecard/" target="_blank" ) 
    .button_1 個人名片
  a.button(href="https://codepen.io/Ding0327/" target="_blank" ) 
    .button_2 其他作品
.container
  .circle
  .circle
  .circle
  .circle
  .circle
  
p
  .line-1.anim-typewriter Keep on going never give up
  
